@mixin cta {
	background: $orange;
	font: 0.8em $oswald;
	text-transform: uppercase;
	color: $white;
	border: 1px;
	border-radius: 1px;
	padding: 3%;
}

@mixin customh2 {

	text-align: center;
			font: 1.5em $oswald;
			color: $black;
			font-weight: bold;
			text-transform: uppercase;
}
