@mixin cta {
	background: $orange;
	font: 0.8em $oswald;
	text-transform: uppercase;
	color: $white;
	border: 1px;
	border-radius: 1px;
	padding: 3%;
}

@mixin customh2 {
	text-align: center;
	font: 1.5em $oswald;
	color: $black;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin customh3 {
	font-family: $oswald;
	font-weight: bold;
	font-size: 1.2em;
	color: $orange;
	margin-top: 4%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3%;
}
