/* -- Footer
--------------------------------------------------- */
footer {
	text-align: center;
	padding-top: 6%;
	.newsletter {
		background-color: $orange;
		padding: 5% 0;
		p {
			margin-bottom: 4%;
			text-transform: uppercase;
		}
	}
	.socials {
		background-color: $black;
		p {
			font-family: $opensans;
			font-size: 1.2em;
			color: $white;
			padding-top: 3%;
		}
		div {
			display: inline-block;
			width: 15%;
			height: 15%;
			margin: 5%;
			padding: 2%;
			background: $white;
			border-radius: 100%;
			img {
				/* width: 50%; */
			}
		}
	}
	nav {
		background: $black;
		li {
			font-weight: 200;
			margin: 5%;
			a {
				color: $white;				
			}
		}
	}
}