.news-main {
    width: 80%;
  .news{
    width: 100%;
    img {
      width: 100%;
      height: 20vh;
    }
    .title {
      position: absolute;
      background-color: $orange;
      height: 50px;
      width: 50%;
      top: 17%;
      left: 2%;
      h2 {
        font-family: $oswald;
        color: $white;
        font-size: 1.3em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 14px;
      }
    }
  }
  .article {
    width: 100%;
    margin: 10% 0 10% 13%;
    border-bottom: 1px solid #979797;
    &:first-child{
      margin-top: 15%;
    }
    h3{
      text-align: center;
      color: $orange;
      font-family: $oswald;
      font-size: 1.1em;
      margin-bottom: 5%;
    }
    img {
      width: 100%;
      margin-bottom:5%;
    }
    p{
      font-family: $oswald;
      margin-left: 3%;
    }
    .detail-article{
      margin-top: 3%;
      //GENERAL
      img{
        float: left;
        width: 5%;
        &:first-child{
          margin-left: 3%;
        }
      }
      span{
        float: left;
        font-family: $opensans;
        font-size: 0.5em;
        text-transform: uppercase;
        margin: 1.2% 3% 0 1%;
      }
      //FIN GENERAL
    }
    button{
      display: block;
      width:35%;
      height: 6vh;
      background-color: $black;
      color: $white;
      border:none;
      text-transform: uppercase;
      font-family: $oswald;
      font-size: 0.9em;
      margin: 15% 0 15% 32%;
    }
  }
}
@media screen and (min-width: 481px){
  .news-main{
    margin: 0 auto;
    img{
      width: 100%;
      height: 70vh;
    }
    .title {
      width: 35%;
      height: 10vh;
      top: 67%;
      left: 2%;
      h2 {
        font-size: 1.8em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 14px;
      }
    }
    .article{
      float: left;
      width: 35%;
      margin-bottom: 0;
      &:nth-child(2n+1){
        margin: 10% 0 0 10%;
      }
      h3{
        font-size: 1.3em;
      }
    }
  }
}
