/* -- HOME body
--------------------------------------------------- */
.home-body {
	header {
		nav {
		text-align: center;
    	width: 100%;
			ul li {
			    display: inline-block;
			    padding: 30px;
			    font: #000 bold 1.8em/2.5em;
			    text-transform: uppercase;
			    a {
			    	text-decoration: none;
				    color: #000;
				    cursor: pointer;
			    }
			}
		}
	}
	main {
		.presentation {
			background-image: url('../img-layout/background-home.png');
			background-size: cover;
			height: 20vh;

			a {
				@include cta;
			}	
		}
		h2 {
			text-align: center;
			font: 1.5em $oswald;
			color: $orange;
			text-transform: uppercase;
		}
		.who {
			a {
				@include cta;
			}
		}
	}
}
