/* -- HOME body
--------------------------------------------------- */
.home-body {
	margin: 0 auto;
	main {
		margin-top: 15%;
		text-align: center;
		section {
			margin: 15% 0;
			p {
				margin-bottom: 5%;
				line-height: 150%;
			}
			span {
				font-weight: bold;
				color: $grey;
			}
		}
		.presentation {
			position: relative;
			img {
				filter: contrast(40%);
				width: 100%;
				z-index: 0;
			}
			h2 {
				position: absolute;
				top: 30%;
				left: 5%;
				z-index: 1;
			}
			a {
				position: absolute;
				bottom: 5%;
				left: 70%;
				@include cta;
			}	
		}
		.separation {
			height: 2px;
			color: $grey;
		}
		h2 {
			text-align: center;
			font: 1.5em $oswald;
			color: $orange;
			text-transform: uppercase;
		}
		.picto {
			width: 8%;
		}
		.who {
			p {

			}
			a {
				@include cta;
			}
		}
		.conflit {
		}
		.action {
			.action-desc {
				img {/* 
					width: 10%;
 */				}
			}
			.action-call {
				img {
					width: 80%;
				}
				a {
					@include cta;
				}
			}
		}
		.valeurs {
			a {
				@include cta;
			}
		}
		.actus {
			div {
				img {
					width: 80%;
				}
			}			
			a {
				@include cta;
			}
		}
		.partenaires {
			h2 {

			}
			.partners{
				div {
					width: 100%;
					display: flex;
					justify-content: space-around;
					align-items: center;
					div {
						width: 30%;
						a {
							text-align: center;
							img {
								width: 80%;
							}
						}
					}	
				}
			}
		}
	}
}
