.member-main {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  .member {
    img{
      width: 100%;
    }
    .title {
      position: absolute;
      background-color: $orange;
      height: 50px;
      width: 50%;
      top: 20%;
      left: 2%;
      h2{
        font-family: $oswald;
        color: $white;
        font-size: 1.3em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 14px;
      }
    }
  }
  //GENERAL
  .membre-section {
    margin-top: 10%;
    padding-bottom: 15%;
    border-bottom: 1px solid #979797;
    img{
      width: 18%;
    }
    h3{
      margin:7% 0 7% 0;
      text-transform: uppercase;
      font-family: $oswald;
      font-size: 1.3em;
      font-weight: bold;
      color: $orange;
    }
    p{
      text-align: left;
    }
  }
  // FIN GENERAL
  .new-member{
    margin-top: 20%;
    img {
      margin-bottom: 7%;
    }
    p{
      margin-bottom: 5%;
    }
    address{
      text-align: left;
      font-family: $oswald;
      font-size: 1.1em;
      margin-bottom: 5%;
    }
    .email {
      color: $orange;
    }
    button{
      width: 50%;
      border:none;
      background-color: $white;
    }
    button a {
      display: block;
      width:100%;
      height: 6vh;
      background-color: $orange;
      color: $white;
      border:none;
      text-transform: uppercase;
      font-family: $oswald;
      font-size: 1.2em;
      margin: 10% 0 15% 5%;
      padding-top: 5%;
    }
  }
  .download {
    a {
      color: $black;
      text-decoration: underline;
    }
  }
}
@media screen and (min-width: 481px) {
  .member-main {
    .member {
      img {
        height: 70vh;
      }
      .title {
        width: 35%;
        height: 10vh;
        top: 66%;
        h2 {
          font-size: 1.8em;
        }
      }
    }
    //GENERAL
    .membre-section {
      float: left;
      width: 45%;
      border-bottom: none;
      img {
        width: 18%;
      }
      h3 {
        margin: 7% 0 7% 0;
        text-transform: uppercase;
        font-family: $oswald;
        font-size: 1.3em;
        font-weight: bold;
        color: $orange;
      }
      p {
        text-align: left;
      }
    }
    // FIN GENERAL
    .new-member {
      margin:10% 0 0 10%;
      padding: 0;
      button a{
        height: 7vh;
        font-size: 1.3em;
      }
    }
    .download {
      border-top: 1px solid #979797;
      margin:0 0 0 30%;
      h3{
        font-size: 1.6em;
      }
    }
  }
}