.presentation-main{
  text-align: center;
  width: 80%;
  margin:0 auto;
  .presentation{
    img{
      width: 100%;
    }
    .title {
      position: absolute;
      background-color: $orange;
      height: 50px;
      width: 50%;
      top: 17%;
      left: 2%;
      h2{
        font-family: $oswald;
        color: $white;
        font-size: 1.3em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 14px;
      }
    }
  }
  //GENERAL
  .pres-section {
    border-bottom: 1px solid #979797;
    padding-bottom: 15%;
    .title-pres {
      h3 {
        margin-bottom: 10%;
        text-transform: uppercase;
        font-family: $oswald;
        font-size: 1.3em;
        font-weight: bold;
        color: $orange;
      }
    }
    p,ul,span {
      text-align: left;
    }
    li{
      margin-bottom: 5%;
    }
    span{
      color: $orange;
    }
  }
  img{
    width: 16%;
    margin:15% 0 10% 0;
  }
    //FIN GENERAL
  .whoweare{
    p{
      margin-bottom: 2%;
    }
  }
  .vision {
    span{
      display: block;
      margin: 5% 0 2% 0;
    }
  }
}
@media screen and (min-width: 481px){
  .presentation-main {
    .presentation{
      img{
        width: 100%;
        height: 70vh;
      }
      .title {
        height: 10vh;
        width: 35%;
        top: 65%;

        h2{
          font-size: 1.8em;
          margin-top: 5%;
        }
      }
    }
    .pres-section {
      float: left;
      width: 40%;
      padding-bottom: 2%;
      border:none ;
      &:nth-child(2n+1){
        margin-left: 5%;
      }
      &:nth-child(2n+2){
        margin-left: 10%;
      }
    }
  }
}
