/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

li {
  display: inline-block; }

a {
  text-decoration: none;
  cursor: pointer; }

/* -- clearfix
--------------------------------------------------- */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }
.clearfix {
  zoom: 1; }

/* -- Burger menu
--------------------------------------------------- */
header #hamburger-content {
  position: relative;
  width: 100%; }
  header #hamburger-content nav {
    width: 100%; }
    header #hamburger-content nav ul {
      z-index: 2;
      width: 100%;
      height: 45px;
      text-align: center;
      padding-left: 7%;
      background-color: #20201F;
      box-shadow: 0px 0px 1.5px 0px #000; }
      header #hamburger-content nav ul li {
        float: left;
        width: 10%;
        opacity: 0.8;
        margin-left: 10%;
        color: #000;
        list-style: none; }
        header #hamburger-content nav ul li a {
          color: #FF7152;
          font-family: "Open Sans", sans-serif;
          font-size: 1.7em;
          text-decoration: none; }
          header #hamburger-content nav ul li a:hover {
            color: #FF7152; }

#hamburger, #hamburger-content {
  display: inline; }

#hamburger-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.7em;
  color: #FF7152;
  margin: 0 5% 0 0;
  vertical-align: top;
  float: right; }

#hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

#hamburger-sidebar {
  position: fixed;
  width: 84%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FF7152;
  transform: translateX(-100%);
  transition: transform .2s ease-out;
  text-align: center;
  opacity: 1; }
  #hamburger-sidebar li {
    display: block;
    padding-top: 10%; }

#hamburger-sidebar-body {
  padding: 16px 8px; }
  #hamburger-sidebar-body ul li a {
    text-decoration: none;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em; }
  #hamburger-sidebar-body:hover {
    color: #FF7152; }

@media screen and (max-width: 480px) {
  header #hamburger ul {
    display: block; }

  #hamburger-content {
    display: none; }

  #hamburger-button, #hamburger-sidebar,
  .hamburger-activated #hamburger-overlay {
    display: block; }

  .hamburger-activated #hamburger-sidebar {
    transform: translateX(0); } }
/* -- HOME body
--------------------------------------------------- */
.home-body {
  margin: 0 auto; }
  .home-body main {
    margin-top: 15%;
    text-align: center; }
    .home-body main section {
      margin: 15% 0; }
      .home-body main section p {
        margin-bottom: 5%;
        line-height: 150%; }
      .home-body main section span {
        font-weight: bold;
        color: #979797; }
    .home-body main .presentation {
      position: relative; }
      .home-body main .presentation img {
        filter: contrast(40%);
        width: 100%;
        z-index: 0; }
      .home-body main .presentation h2 {
        position: absolute;
        top: 30%;
        left: 5%;
        z-index: 1; }
      .home-body main .presentation a {
        position: absolute;
        bottom: 5%;
        left: 70%;
        background: #FF7152;
        font: 0.8em "Oswald", sans-serif;
        text-transform: uppercase;
        color: #fff;
        border: 1px;
        border-radius: 1px;
        padding: 2%; }
    .home-body main .separation {
      height: 2px;
      color: #979797; }
    .home-body main h2 {
      text-align: center;
      font: 1.5em "Oswald", sans-serif;
      color: #FF7152;
      text-transform: uppercase; }
    .home-body main .picto {
      width: 8%; }
    .home-body main .who a {
      background: #FF7152;
      font: 0.8em "Oswald", sans-serif;
      text-transform: uppercase;
      color: #fff;
      border: 1px;
      border-radius: 1px;
      padding: 2%; }
    .home-body main .action .action-desc img {
      				     /* 
      					width: 10%;
       */ }
    .home-body main .action .action-call img {
      width: 80%; }
    .home-body main .action .action-call a {
      background: #FF7152;
      font: 0.8em "Oswald", sans-serif;
      text-transform: uppercase;
      color: #fff;
      border: 1px;
      border-radius: 1px;
      padding: 2%; }
    .home-body main .valeurs a {
      background: #FF7152;
      font: 0.8em "Oswald", sans-serif;
      text-transform: uppercase;
      color: #fff;
      border: 1px;
      border-radius: 1px;
      padding: 2%; }
    .home-body main .actus div img {
      width: 80%; }
    .home-body main .actus a {
      background: #FF7152;
      font: 0.8em "Oswald", sans-serif;
      text-transform: uppercase;
      color: #fff;
      border: 1px;
      border-radius: 1px;
      padding: 2%; }
    .home-body main .partenaires .partners div {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .home-body main .partenaires .partners div div {
        width: 30%; }
        .home-body main .partenaires .partners div div a {
          text-align: center; }
          .home-body main .partenaires .partners div div a img {
            width: 80%; }

/* -- Footer
--------------------------------------------------- */
footer {
  text-align: center;
  padding-top: 6%; }
  footer .newsletter {
    background-color: #FF7152;
    padding: 5% 0; }
    footer .newsletter p {
      margin-bottom: 4%;
      text-transform: uppercase; }
  footer .socials {
    background-color: #000; }
    footer .socials p {
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      color: #fff;
      padding-top: 3%; }
    footer .socials div {
      display: inline-block;
      width: 15%;
      height: 15%;
      margin: 5%;
      padding: 3%;
      background: #fff;
      border-radius: 100%/100%; }
      footer .socials div img {
        /* width: 50%; */ }
  footer nav {
    background: #000; }
    footer nav li {
      font-weight: 200;
      margin: 5%; }
      footer nav li a {
        color: #fff; }

/*# sourceMappingURL=style.css.map */
