/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

li {
  display: inline-block; }

a {
  text-decoration: none;
  cursor: pointer; }

/* -- clearfix
--------------------------------------------------- */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }
.clearfix {
  zoom: 1; }

/* -- Header & Burger menu
--------------------------------------------------- */
header {
  display: flex;
  align-items: center; }
  header h1 {
    margin: 1%;
    width: 20%; }
  header nav {
    width: 70%; }
    header nav ul li {
      margin: 0 2%;
      padding: 2%; }
      header nav ul li:hover {
        border-bottom: 4px solid #FF7152;
        transition: .15s;
        font-weight: 600;
        margin: -4px 2%; }
      header nav ul li a {
        color: #000;
        font-size: 1.2em; }

header .burger-menu {
  display: none;
  position: relative;
  height: 40px;
  width: 45px;
  margin-right: 5%;
  z-index: 5; }

.rect1,
.rect2,
.rect3 {
  height: 20%;
  width: 100%;
  background: #FF7152;
  border-radius: 20px; }

.rect1 {
  position: absolute;
  top: 0;
  left: 0; }

.rect2 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }

.rect3 {
  position: absolute;
  bottom: 0;
  left: 0; }

.appear {
  top: 0;
  z-index: 1;
  width: 100%;
  padding-top: 50%;
  position: fixed; }

@media screen and (max-width: 550px) {
  header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header h1 {
      display: block;
      width: 30%; }
      header h1 img {
        width: 60%; }
    header .burger-menu {
      display: block;
      cursor: pointer; }
    header nav {
      position: absolute;
      top: -103%;
      width: 100%;
      background: #000;
      filter: opacity(80%);
      transition: .5s ease-in-out;
      height: 100vh; }
      header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        header nav ul li {
          margin-top: 5%; }
          header nav ul li a {
            color: #fff;
            font-weight: bold;
            font-size: 1.2em; } }
/* -- Footer
--------------------------------------------------- */
footer {
  text-align: center;
  padding-top: 6%; }
  footer .newsletter {
    background-color: #FF7152;
    padding: 5% 0; }
    footer .newsletter p {
      margin-bottom: 4%;
      text-transform: uppercase; }
    footer .newsletter input[type="email"] {
      width: 50%;
      height: 35%;
      padding: 15px;
      background: white;
      border-radius: 2px;
      font-family: "Open Sans", sans-serif;
      font-size: 0.8em;
      box-shadow: -8px 8px grey; }
    footer .newsletter input[type="submit"] {
      width: 17%;
      height: 35%;
      padding: 15px;
      background: #979797;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 0.8em;
      font-weight: bolder; }
      footer .newsletter input[type="submit"]:hover {
        background: #bbb;
        cursor: pointer; }
  footer .socials {
    background-color: #000; }
    footer .socials p {
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      color: #fff;
      padding-top: 3%; }
    footer .socials div {
      display: inline-block;
      width: 15%;
      height: 15%;
      margin: 5%;
      padding: 3%;
      background: #fff;
      border-radius: 100%/100%; }
      footer .socials div:hover {
        background: #FF7152;
        transition: .2s; }
  footer nav {
    background: #000; }
    footer nav li {
      font-weight: 200;
      margin: 2%;
      padding: 1%; }
      footer nav li:hover {
        border-bottom: 4px solid #FF7152;
        transition: .2s ease-in-out; }
        footer nav li:hover a {
          font-weight: 600; }
      footer nav li a {
        color: #fff; }

@media screen and (min-width: 768px) {
  footer {
    padding-top: 0; }
    footer .newsletter p {
      font-size: 1.5em;
      font-weight: bold; }
    footer .newsletter form input[type="email"] {
      width: 30%; }
    footer .newsletter form input[type="submit"] {
      width: 5%; }
    footer .socials p {
      padding-top: 1.5%; }
    footer .socials div {
      width: 5%;
      height: 5%;
      margin: 2%;
      padding: 1%; }
      footer .socials div a {
        width: 100%; }
    footer nav ul li {
      margin: 1% 2%; } }
@media screen and (min-width: 551px) {
  footer input[type="submit"] {
    width: 15%;
    font-size: 1.5em; }
  footer input[type="email"] {
    font-size: 1.5em; } }
/* -- HOME body
--------------------------------------------------- */
body {
  margin: 0 auto; }
  body .home-main {
    text-align: center; }
    body .home-main section {
      margin: 15% 0 0 0; }
      body .home-main section p {
        margin: 0 15% 5% 15%;
        line-height: 150%; }
      body .home-main section span {
        font-weight: bold;
        line-height: 200%;
        color: #FF7152; }
    body .home-main .presentation {
      position: relative;
      margin: 5% 0 15% 0;
      z-index: -1; }
      body .home-main .presentation img {
        filter: contrast(40%);
        width: 100%;
        z-index: 0; }
      body .home-main .presentation h2 {
        position: absolute;
        top: 30%;
        left: 5%;
        z-index: 1;
        color: #fff; }
      body .home-main .presentation button {
        position: absolute;
        width: 25%;
        height: 6vh;
        background-color: #FF7152;
        text-transform: uppercase;
        border: 1px;
        border-radius: 1px;
        top: 71%;
        left: 70%; }
        body .home-main .presentation button a {
          font: 1em "Oswald", sans-serif;
          color: #fff;
          padding: 3%; }
    body .home-main h2 {
      text-align: center;
      font: 1.5em "Oswald", sans-serif;
      color: #000;
      font-weight: bold;
      text-transform: uppercase; }
    body .home-main .picto {
      width: 8%; }
    body .home-main .who img {
      width: 18%; }
    body .home-main .who button {
      width: 25%;
      height: 6vh;
      background-color: #FF7152;
      text-transform: uppercase;
      border: 1px;
      border-radius: 1px; }
      body .home-main .who button a {
        font: 1em "Oswald", sans-serif;
        color: #fff;
        padding: 3%; }
    body .home-main .conflit img {
      width: 18%; }
    body .home-main .action .action-desc img {
      width: 18%; }
    body .home-main .action .action-call img {
      width: 100%; }
    body .home-main .action .action-call div {
      padding: 1em;
      border: 1em solid transparent;
      background: -webkit-linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, #FF7152 0, #FF7152 12.5%, transparent 0, transparent 25%, #979797 0, #979797 37.5%, transparent 0, transparent 50%) 0/5em 5em; }
      body .home-main .action .action-call div button {
        width: 30%;
        height: 6vh;
        background-color: #FF7152;
        text-transform: uppercase;
        border: 1px;
        border-radius: 1px; }
        body .home-main .action .action-call div button a {
          font: 1em "Oswald", sans-serif;
          color: #fff;
          padding: 3%; }
    body .home-main .valeurs button {
      width: 30%;
      height: 6vh;
      background-color: #FF7152;
      text-transform: uppercase;
      border: 1px;
      border-radius: 1px; }
      body .home-main .valeurs button a {
        font: 1em "Oswald", sans-serif;
        color: #fff;
        padding: 3%; }
    body .home-main .actus div h2 {
      margin-bottom: 4%; }
    body .home-main .actus div img {
      width: 100%; }
    body .home-main .actus article h3 {
      font-weight: bold;
      font-size: 1.2em;
      color: #FF7152;
      margin-top: 4%; }
    body .home-main .actus button {
      width: 30%;
      height: 6vh;
      background-color: #FF7152;
      text-transform: uppercase;
      border: 1px;
      border-radius: 1px; }
      body .home-main .actus button a {
        font: 1em "Oswald", sans-serif;
        color: #fff;
        padding: 3%; }
    body .home-main .partenaires {
      margin-bottom: 15%; }
      body .home-main .partenaires .partners div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        body .home-main .partenaires .partners div div {
          width: 30%; }
          body .home-main .partenaires .partners div div a {
            text-align: center; }
            body .home-main .partenaires .partners div div a img {
              width: 80%; }

@media screen and (min-width: 481px) {
  body .home-main .presentation {
    margin-bottom: 0; }
    body .home-main .presentation h2 {
      font-size: 4em; }
    body .home-main .presentation button {
      width: 20%;
      height: 8vh;
      background-color: #FF7152;
      text-transform: uppercase;
      border: 1px;
      border-radius: 1px;
      font-size: 1.2em;
      top: 60%;
      left: 5%; }
  body .home-main .who {
    float: left;
    width: 50%;
    margin-top: 7%; }
    body .home-main .who img {
      width: 10%; }
    body .home-main .who button {
      height: 8vh;
      font-size: 1em; }
  body .home-main .conflit {
    float: left;
    width: 50%;
    margin: 7% 0 7% 0; }
    body .home-main .conflit img {
      width: 10%; }
  body .home-main .action .action-desc h2 {
    font-size: 2em; }
  body .home-main .action .action-desc img {
    width: 6%;
    margin: 1% 0 2% 0; }
  body .home-main .action span {
    font-family: "Oswald", sans-serif;
    font-size: 1.4em; }
  body .home-main .action .action-call div h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.4em;
    font-weight: bold; }
  body .home-main .action .action-call div p {
    font-size: 1.3em;
    margin-bottom: 2%; }
  body .home-main .action .action-call div button {
    width: 25%;
    height: 10vh; }
    body .home-main .action .action-call div button a {
      font: 1.4em "Oswald", sans-serif;
      color: #fff;
      padding: 3%; }
  body .home-main .valeurs {
    margin-top: 5%; }
    body .home-main .valeurs span {
      font-family: "Oswald", sans-serif;
      font-size: 1.5em; }
    body .home-main .valeurs button {
      width: 20%;
      height: 10vh; }
      body .home-main .valeurs button a {
        font: 1.4em "Oswald", sans-serif;
        color: #fff;
        margin: 0;
        padding-left: 5%; }
    body .home-main .valeurs .proximite {
      float: left;
      width: 50%; }
    body .home-main .valeurs .transparence {
      float: left;
      width: 50%; }
    body .home-main .valeurs a {
      width: 20%;
      height: 1vh;
      margin-left: 40%;
      padding-bottom: 2%;
      font-size: 1.1em; }
  body .home-main .actus {
    margin-top: 10%; }
    body .home-main .actus h2 {
      font-size: 1.8em; }
    body .home-main .actus div {
      float: left;
      width: 50%;
      margin-top: 5%; }
    body .home-main .actus article {
      float: left;
      width: 50%;
      margin-top: 5%; }
    body .home-main .actus button {
      float: left;
      width: 20%;
      height: 8vh;
      margin-left: 15%;
      font-size: 1.1em; }
  body .home-main .partenaires h2 {
    font-size: 1.8em; } }
.contact-main .contact {
  position: relative; }
  .contact-main .contact img {
    width: 100%; }
.contact-main .coordo {
  text-align: center;
  margin: 10% 0 10% 0; }
  .contact-main .coordo .title {
    position: absolute;
    background-color: #FF7152;
    height: 50px;
    width: 50%;
    top: 17%;
    left: 2%; }
    .contact-main .coordo .title h2 {
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-size: 1.3em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px; }
  .contact-main .coordo .map iframe {
    width: 90%;
    height: 30vh; }
  .contact-main .coordo .postal {
    width: 60%;
    margin: 15% 0 0 20%;
    padding-bottom: 7%;
    border-bottom: 1px solid #000; }
    .contact-main .coordo .postal img {
      width: 22%;
      margin-bottom: 5%; }
    .contact-main .coordo .postal h3 {
      margin-bottom: 4%;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 1.3em;
      font-weight: bold;
      color: #FF7152; }
    .contact-main .coordo .postal address {
      font-family: "Open Sans", sans-serif; }
  .contact-main .coordo .email {
    width: 60%;
    margin: 10% 0 0 20%;
    padding-bottom: 7%;
    border-bottom: 1px solid #000; }
    .contact-main .coordo .email img {
      width: 22%;
      margin-bottom: 5%; }
    .contact-main .coordo .email p {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      line-height: 130%; }
    .contact-main .coordo .email .address-email {
      margin-top: 8%;
      color: #FF7152; }
    .contact-main .coordo .email button {
      width: 60%;
      height: 35px;
      font-family: "Oswald", sans-serif;
      font-size: 0.8em;
      margin-top: 10%;
      background-color: #000;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid grey; }
.contact-main .form-contact h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 10%; }
.contact-main .form-contact .formulaire {
  margin-left: 25%; }
  .contact-main .form-contact .formulaire label {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #979797;
    margin-bottom: 1%; }
  .contact-main .form-contact .formulaire input {
    width: 65%;
    height: 30px;
    border: 1px solid #979797;
    margin-bottom: 5%; }
  .contact-main .form-contact .formulaire textarea {
    border: 1px solid #979797; }
  .contact-main .form-contact .formulaire .btn-submit {
    width: 40%;
    height: 35px;
    font-family: "Oswald", sans-serif;
    font-size: 0.8em;
    margin: 5% 0 5% 15%;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid grey; }

@media screen and (min-width: 481px) {
  .contact-main .contact img {
    height: 70vh; }
  .contact-main .coordo {
    margin: 0 0 5% 11%; }
    .contact-main .coordo .title {
      width: 30%;
      height: 10vh;
      margin-top: -8%;
      top: 80%;
      left: 2%; }
      .contact-main .coordo .title h2 {
        font-size: 1.8em; }
    .contact-main .coordo .map {
      width: 60%;
      margin: 5% 0 5% 13%; }
      .contact-main .coordo .map iframe {
        width: 100%;
        height: 60vh; }
    .contact-main .coordo .postal {
      float: left;
      width: 50%;
      margin: 0;
      border: none; }
      .contact-main .coordo .postal img {
        width: 8%; }
      .contact-main .coordo .postal h3 {
        font-size: 1.4em; }
      .contact-main .coordo .postal address {
        font-size: 1.2em;
        font-weight: bold; }
    .contact-main .coordo .email {
      margin-top: 0%;
      width: 50%; }
      .contact-main .coordo .email img {
        width: 8%;
        margin-bottom: 3%; }
      .contact-main .coordo .email p {
        font-size: 1.2em; }
      .contact-main .coordo .email .address-email {
        margin: 2% 0 0 0; }
      .contact-main .coordo .email button {
        width: 55%;
        height: 8vh;
        font-size: 1.2em;
        margin-top: 0%; }
  .contact-main .form-contact h2 {
    margin-bottom: 5%; }
  .contact-main .form-contact .formulaire {
    margin-left: 38%; }
    .contact-main .form-contact .formulaire label {
      width: 15%;
      height: 3vh;
      margin-right: 0; }
    .contact-main .form-contact .formulaire input {
      width: 40%;
      height: 5vh;
      margin-bottom: 2%; }
    .contact-main .form-contact .formulaire textarea {
      border: 1px solid #979797;
      margin-bottom: 3%;
      width: 40%; }
    .contact-main .form-contact .formulaire .btn-submit {
      width: 20%;
      height: 8vh;
      font-size: 1.2em;
      margin: 1% 0 5% 41%; } }
.mission-main {
  text-align: center; }
  .mission-main .title-mission img {
    width: 22%;
    margin: 5% 0; }
  .mission-main .title-mission h3 {
    margin-bottom: 10%; }
  .mission-main .article-title {
    margin-bottom: 4%;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #FF7152; }
  .mission-main p {
    text-align: left;
    width: 100%;
    margin-bottom: 10%;
    font-family: "Open Sans", sans-serif; }
  .mission-main button {
    width: 35%;
    height: 6vh;
    background-color: #FF7152;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 0.9em;
    margin: 5% 0 15% 0; }
  .mission-main .element-mission {
    width: 80%;
    margin: 10% 0 0 10%;
    border-bottom: 1px solid #979797; }
  .mission-main .mission img {
    width: 100%; }
  .mission-main .mission .title {
    position: absolute;
    background-color: #FF7152;
    height: 50px;
    width: 50%;
    top: 17%;
    left: 2%; }
    .mission-main .mission .title h2 {
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-size: 1.3em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px; }
  .mission-main .action .all-actions img {
    width: 13%;
    margin-bottom: 5%; }
  .mission-main .strategy {
    padding-bottom: 5%; }
    .mission-main .strategy .title-strategy {
      width: 100%;
      height: 10vh;
      margin: 10% 0;
      color: #fff;
      background-color: #FF7152;
      font-family: "Oswald", sans-serif; }
      .mission-main .strategy .title-strategy h4 {
        padding: 4% 0 1% 0;
        font-size: 1.3em;
        text-transform: uppercase; }
  .mission-main .goal .part-goal {
    padding-bottom: 5%; }
    .mission-main .goal .part-goal img {
      width: 18%; }
    .mission-main .goal .part-goal h3 {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2em;
      margin: 5% 0 2% 0; }
    .mission-main .goal .part-goal h4 {
      font-family: "Oswald", sans-serif;
      font-size: 1.1em;
      margin-bottom: 10%; }

@media screen and (min-width: 481px) {
  .mission-main .title-mission img {
    width: 10%; }
  .mission-main .title-mission h3 {
    font-size: 2em;
    margin-bottom: 5%; }
  .mission-main button {
    width: 20%;
    height: 10vh;
    font-size: 1.2em;
    margin-bottom: 8%; }
  .mission-main .mission img {
    height: 70vh; }
  .mission-main .mission .title {
    width: 35%;
    height: 10vh;
    top: 65%; }
    .mission-main .mission .title h2 {
      font-size: 1.8em; }
  .mission-main .action {
    width: 60%;
    margin: 2% 0 0 20%; }
    .mission-main .action .all-actions {
      width: 90%;
      margin-left: 2%; }
      .mission-main .action .all-actions img {
        float: left;
        width: 8%;
        margin: 0; }
      .mission-main .action .all-actions p {
        padding: 2% 0 0 15%; }
  .mission-main .strategy {
    margin-top: 5%; }
    .mission-main .strategy .part-strategy {
      border: 1px solid #979797;
      width: 45%; }
      .mission-main .strategy .part-strategy .title-strategy {
        margin-top: 0; }
    .mission-main .strategy .target-strategy, .mission-main .strategy .united-strategy {
      float: left; }
    .mission-main .strategy .target-strategy {
      margin-left: 2.5%; }
    .mission-main .strategy .united-strategy {
      margin-left: 5%;
      padding-bottom: 1.6%; }
    .mission-main .strategy .action-strategy {
      margin: 30% 0 0 27%; }
  .mission-main .goal {
    margin-top: 5%; }
    .mission-main .goal .part-goal {
      width: 20%;
      margin-left: 10%;
      float: left; }
      .mission-main .goal .part-goal img {
        width: 24%; }
      .mission-main .goal .part-goal p {
        text-align: left; }
    .mission-main .goal .help-goal {
      margin-top: 2%; }
    .mission-main .goal .study-goal {
      margin-top: 1%; }
    .mission-main .goal button {
      margin-top: 0%; } }
.presentation-main {
  text-align: center;
  width: 80%;
  margin: 0 auto; }
  .presentation-main .presentation img {
    width: 100%; }
  .presentation-main .presentation .title {
    position: absolute;
    background-color: #FF7152;
    height: 50px;
    width: 50%;
    top: 17%;
    left: 2%; }
    .presentation-main .presentation .title h2 {
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-size: 1.3em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px; }
  .presentation-main .pres-section {
    border-bottom: 1px solid #979797;
    padding-bottom: 15%; }
    .presentation-main .pres-section .title-pres h3 {
      margin-bottom: 10%;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 1.3em;
      font-weight: bold;
      color: #FF7152; }
    .presentation-main .pres-section p, .presentation-main .pres-section ul, .presentation-main .pres-section span {
      text-align: left; }
    .presentation-main .pres-section li {
      margin-bottom: 5%; }
    .presentation-main .pres-section span {
      color: #FF7152; }
  .presentation-main img {
    width: 16%;
    margin: 15% 0 10% 0; }
  .presentation-main .whoweare p {
    margin-bottom: 2%; }
  .presentation-main .vision span {
    display: block;
    margin: 5% 0 2% 0; }

@media screen and (min-width: 481px) {
  .presentation-main .presentation img {
    width: 100%;
    height: 70vh; }
  .presentation-main .presentation .title {
    height: 10vh;
    width: 35%;
    top: 65%; }
    .presentation-main .presentation .title h2 {
      font-size: 1.8em;
      margin-top: 5%; }
  .presentation-main .pres-section {
    float: left;
    width: 40%;
    padding-bottom: 2%;
    border: none; }
    .presentation-main .pres-section:nth-child(2n+1) {
      margin-left: 5%; }
    .presentation-main .pres-section:nth-child(2n+2) {
      margin-left: 10%; } }
.actu-main {
  width: 80%; }
  .actu-main .actu {
    width: 100%; }
    .actu-main .actu img {
      width: 100%;
      height: 20vh; }
    .actu-main .actu .title {
      position: absolute;
      background-color: #FF7152;
      height: 50px;
      width: 50%;
      top: 17%;
      left: 2%; }
      .actu-main .actu .title h2 {
        font-family: "Oswald", sans-serif;
        color: #fff;
        font-size: 1.3em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 14px; }
  .actu-main .article-actu {
    width: 100%;
    margin: 10% 0 10% 13%;
    border-bottom: 1px solid #979797; }
    .actu-main .article-actu:first-child {
      margin-top: 15%; }
    .actu-main .article-actu h3 {
      text-align: center;
      color: #FF7152;
      font-family: "Oswald", sans-serif;
      font-size: 1.1em;
      margin-bottom: 5%; }
    .actu-main .article-actu img {
      width: 100%;
      margin-bottom: 5%; }
    .actu-main .article-actu p {
      font-family: "Oswald", sans-serif;
      margin-left: 3%; }
    .actu-main .article-actu .detail-article {
      margin-top: 3%; }
      .actu-main .article-actu .detail-article img {
        float: left;
        width: 5%; }
        .actu-main .article-actu .detail-article img:first-child {
          margin-left: 3%; }
      .actu-main .article-actu .detail-article span {
        float: left;
        font-family: "Open Sans", sans-serif;
        font-size: 0.5em;
        text-transform: uppercase;
        margin: 1.2% 3% 0 1%; }
    .actu-main .article-actu button {
      display: block;
      width: 35%;
      height: 6vh;
      background-color: #000;
      color: #fff;
      border: none;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 0.9em;
      margin: 15% 0 15% 32%; }

@media screen and (min-width: 481px) {
  .actu-main {
    margin: 0 auto; }
    .actu-main .actu img {
      width: 100%;
      height: 70vh; }
    .actu-main .actu .title {
      width: 35%;
      height: 10vh;
      top: 67%;
      left: 2%; }
      .actu-main .actu .title h2 {
        font-size: 1.8em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 14px; }

  #article-actu {
    float: left;
    width: 35%;
    margin-bottom: 0; }
    #article-actu:nth-child(2n+1) {
      margin: 10% 0 0 10%; }
    #article-actu h3 {
      font-size: 1.3em; } }
.member-main {
  text-align: center;
  width: 80%;
  margin: 0 auto; }
  .member-main .member img {
    width: 100%; }
  .member-main .member .title {
    position: absolute;
    background-color: #FF7152;
    height: 50px;
    width: 50%;
    top: 20%;
    left: 2%; }
    .member-main .member .title h2 {
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-size: 1.3em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px; }
  .member-main .membre-section {
    margin-top: 10%;
    padding-bottom: 15%;
    border-bottom: 1px solid #979797; }
    .member-main .membre-section img {
      width: 18%; }
    .member-main .membre-section h3 {
      margin: 7% 0 7% 0;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 1.3em;
      font-weight: bold;
      color: #FF7152; }
    .member-main .membre-section p {
      text-align: left; }
  .member-main .new-member {
    margin-top: 20%; }
    .member-main .new-member img {
      margin-bottom: 7%; }
    .member-main .new-member p {
      margin-bottom: 5%; }
    .member-main .new-member address {
      text-align: left;
      font-family: "Oswald", sans-serif;
      font-size: 1.1em;
      margin-bottom: 5%; }
    .member-main .new-member .email {
      color: #FF7152; }
    .member-main .new-member button {
      width: 50%;
      border: none;
      background-color: #fff; }
    .member-main .new-member button a {
      display: block;
      width: 100%;
      height: 6vh;
      background-color: #FF7152;
      color: #fff;
      border: none;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 1.2em;
      margin: 10% 0 15% 5%;
      padding-top: 5%; }
  .member-main .download a {
    color: #000;
    text-decoration: underline; }

@media screen and (min-width: 481px) {
  .member-main .member img {
    height: 70vh; }
  .member-main .member .title {
    width: 35%;
    height: 10vh;
    top: 66%; }
    .member-main .member .title h2 {
      font-size: 1.8em; }
  .member-main .membre-section {
    float: left;
    width: 45%;
    border-bottom: none; }
    .member-main .membre-section img {
      width: 18%; }
    .member-main .membre-section h3 {
      margin: 7% 0 7% 0;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 1.3em;
      font-weight: bold;
      color: #FF7152; }
    .member-main .membre-section p {
      text-align: left; }
  .member-main .new-member {
    margin: 10% 0 0 10%;
    padding: 0; }
    .member-main .new-member button a {
      height: 7vh;
      font-size: 1.3em; }
  .member-main .download {
    border-top: 1px solid #979797;
    margin: 0 0 0 30%; }
    .member-main .download h3 {
      font-size: 1.6em; } }
/* -- MENTIONS LEGALES body
--------------------------------------------------- */
.mentions-body main {
  margin: 3% 5% 0 5%;
  text-align: center; }
  .mentions-body main .mentions-title {
    font: 2em "Oswald", sans-serif;
    color: #FF7152;
    border-bottom: 2px solid #FF7152; }
  .mentions-body main h2 {
    text-align: center;
    font: 1.5em "Oswald", sans-serif;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4%; }
  .mentions-body main p {
    margin-bottom: 5%;
    line-height: 150%; }
    .mentions-body main p span {
      font-weight: bold; }
  .mentions-body main div {
    margin-bottom: 5%; }

@media screen and (min-width: 768px) {
  .mentions-body main p {
    margin-bottom: 2%; } }
/* -- Page NOS SUCCES
--------------------------------------------------- */
.succes-main .presentation {
  position: relative; }
  .succes-main .presentation h2 {
    background: #FF7152;
    font: 0.8em "Oswald", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px;
    border-radius: 1px;
    padding: 3%;
    position: absolute;
    bottom: -20%;
    left: 0;
    font-size: 2em; }
  .succes-main .presentation img {
    width: 100%; }
.succes-main .about {
  margin-top: 20%;
  margin-bottom: 10%; }
  .succes-main .about #about-div {
    text-align: center;
    width: 100%; }
    .succes-main .about #about-div h3 {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 1.2em;
      color: #FF7152;
      margin-top: 4%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 3%; }
    .succes-main .about #about-div p {
      margin: 0 15% 5% 15%;
      line-height: 150%; }
      .succes-main .about #about-div p span {
        color: #FF7152;
        font-weight: bold; }
.succes-main .proud {
  text-align: center; }
  .succes-main .proud h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #FF7152;
    margin-top: 4%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3%; }
  .succes-main .proud span {
    display: block;
    width: 100%;
    font-family: "Oswald", sans-serif;
    color: #979797;
    font-size: 1.8em;
    margin-bottom: 4%; }
  .succes-main .proud .proud-img img {
    width: 100%; }
  .succes-main .proud .read-article {
    margin-bottom: 5%; }
    .succes-main .proud .read-article p {
      margin: 4% 15% 5% 15%;
      line-height: 150%; }
    .succes-main .proud .read-article a {
      background: #FF7152;
      font: 0.8em "Oswald", sans-serif;
      text-transform: uppercase;
      color: #fff;
      border: 1px;
      border-radius: 1px;
      padding: 3%; }

@media screen and (min-width: 768px) {
  .succes-main .presentation img {
    width: 20%; }
  .succes-main h2 {
    font-size: 2.5em; }
  .succes-main .about {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    .succes-main .about div {
      width: 100%; }
  .succes-main .proud div {
    width: 100%; }
    .succes-main .proud div img {
      width: 100%; } }
/*-----------Page Dons -------------------------------*/
.dons-main {
  text-align: center;
  width: 80%;
  margin: 0 auto; }
  .dons-main .presentation img {
    width: 100%; }
  .dons-main .presentation .title {
    position: absolute;
    background-color: #FF7152;
    height: 50px;
    width: 50%;
    top: 30%;
    left: 2%; }
    .dons-main .presentation .title h2 {
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-size: 1.3em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px; }
  .dons-main .dons-section {
    border-bottom: 1px solid #979797;
    padding-bottom: 15%;
    margin-top: 10%; }
    .dons-main .dons-section .title-pres h3 {
      margin-bottom: 10%;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 1.3em;
      font-weight: bold;
      color: #FF7152; }
    .dons-main .dons-section .title-pres .coo-bank {
      width: 16%; }
    .dons-main .dons-section .title-pres .tax-img {
      width: 16%; }
    .dons-main .dons-section p,
    .dons-main .dons-section ul,
    .dons-main .dons-section span {
      text-align: left; }
    .dons-main .dons-section li {
      margin-bottom: 5%; }
    .dons-main .dons-section span {
      color: #FF7152; }
    .dons-main .dons-section img {
      width: 16%;
      margin: 15% 0 10% 0; }
    .dons-main .dons-section button {
      width: 35%;
      height: 6vh;
      background-color: #FF7152;
      border: none;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      margin: 5% 0 15% 0;
      font-size: 0.9em; }
    .dons-main .dons-section a {
      color: #fff; }
  .dons-main .project-donations p {
    margin-bottom: 2%; }
  .dons-main .banque-account .title-pres img {
    width: 27%; }
  .dons-main .taxe-deductions .title-pres img {
    width: 27%; }
  .dons-main .support-means {
    margin-top: 1.5%; }

@media screen and (min-width: 481px) {
  .dons-main .presentation img {
    width: 100%;
    height: 70vh; }
  .dons-main .presentation .title {
    height: 10vh;
    width: 35%;
    top: 65%; }
    .dons-main .presentation .title h2 {
      font-size: 1.8em;
      margin-top: 5%; }
  .dons-main .dons-section {
    float: left;
    width: 40%;
    padding-bottom: 2%;
    border: none;
    margin-top: 1%; }
    .dons-main .dons-section:nth-child(2n+1) {
      margin-left: 5%; }
    .dons-main .dons-section:nth-child(2n+2) {
      margin-left: 10%; } }
.news-main .news {
  width: 100%; }
  .news-main .news img {
    width: 100%;
    height: 20vh; }
  .news-main .news .title {
    position: absolute;
    background-color: #FF7152;
    height: 50px;
    width: 50%;
    top: 17%;
    left: 2%; }
    .news-main .news .title h2 {
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-size: 1.3em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 14px; }
.news-main .ariane {
  margin: 10% 0 0 3%; }
  .news-main .ariane a {
    color: #979797;
    font-size: 0.8em; }
.news-main .article {
  width: 100%;
  margin: 10% 0 10% 0; }
  .news-main .article:first-child {
    margin-top: 15%; }
  .news-main .article h3 {
    text-align: center;
    color: #FF7152;
    font-family: "Oswald", sans-serif;
    font-size: 1.1em;
    margin-bottom: 5%; }
  .news-main .article img {
    width: 100%; }
  .news-main .article div {
    clear: both;
    width: 90%; }
    .news-main .article div p {
      font-family: "Oswald", sans-serif;
      margin: 5% 0 0 15%; }
  .news-main .article .detail-article {
    display: inline-block;
    margin: 3% 0 0 35%; }
    .news-main .article .detail-article img {
      float: left;
      width: 8%; }
      .news-main .article .detail-article img:first-child {
        margin-left: 3%; }
    .news-main .article .detail-article span {
      float: left;
      font-family: "Open Sans", sans-serif;
      font-size: 0.8em;
      text-transform: uppercase;
      margin: 1.2% 3% 0 1%; }
  .news-main .article a {
    text-align: center;
    display: block;
    width: 65%;
    margin: 5% 0 0 15%;
    padding-top: 5%;
    text-decoration: underline;
    color: #000; }
  .news-main .article .tag {
    width: 70%;
    margin: 5% 0 0 15%; }
    .news-main .article .tag span {
      font-size: 0.8em; }
  .news-main .article button {
    display: block;
    width: 35%;
    height: 6vh;
    background-color: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 0.9em;
    margin: 15% 0 15% 32%; }
  .news-main .article .next-prec-article button {
    background-color: #000;
    width: 40%;
    height: 6vh;
    margin: 0;
    display: inline-block; }
    .news-main .article .next-prec-article button a {
      text-decoration: none;
      color: #fff;
      margin-bottom: 15%; }
    .news-main .article .next-prec-article button:first-child {
      margin-left: 14%; }
    .news-main .article .next-prec-article button:last-child {
      margin-left: 2%; }

@media screen and (min-width: 481px) {
  .news-main {
    margin: 0 auto; }
    .news-main .news img {
      width: 100%;
      height: 70vh; }
    .news-main .news .title {
      width: 35%;
      height: 10vh;
      top: 67%;
      left: 2%; }
      .news-main .news .title h2 {
        font-size: 1.8em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 14px; }
    .news-main .ariane {
      margin-top: 7%; }
      .news-main .ariane a {
        font-size: 1em; }
    .news-main section.article {
      width: 80%;
      margin: 0; }
      .news-main section.article:nth-child(2n+1) {
        margin: 10% 0 0 10%; }
      .news-main section.article img {
        width: 80%;
        margin: 0 0 5% 8%; }
      .news-main section.article h3 {
        font-size: 1.5em;
        margin-bottom: 1%; }
      .news-main section.article .detail-article {
        margin: 1% 0 0 11%; }
        .news-main section.article .detail-article .folder img {
          width: 3%;
          margin-bottom: 1%; }
        .news-main section.article .detail-article .date img {
          width: 3%; }
      .news-main section.article div p {
        font-size: 1.2em;
        width: 35%;
        margin: 0 0; }
        .news-main section.article div p:first-child {
          float: left;
          margin-left: 15%; }
        .news-main section.article div p:last-child {
          float: left;
          margin-left: 10%; }
      .news-main section.article .tag {
        margin: 2% 0 0 14%; }
        .news-main section.article .tag span {
          font-size: 1em; }
      .news-main section.article a {
        font-size: 1.2em;
        margin: 0 0 0 18%; }
      .news-main section.article button {
        margin: 5% 0 2% 33%;
        height: 10vh;
        font-size: 1.1em; }
      .news-main section.article .next-prec-article button {
        height: 10vh; } }

/*# sourceMappingURL=style.css.map */
